[Unit]
Description=Sado IPFS Service
After=network.target

[Service]
User=ipfs
WorkingDirectory=/home/ipfs/sado-ipfs
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=500ms
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

